.client-selection-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  .dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    select {
      height: 40px;
      width: 100px;
      border-radius: 8px;
    }
  }
  .body-data {
    background-color: var(--body-background-color);
  }
}
