.form-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid;
  gap: 30px;
  table {
    border: 1px solid;
  }
  .view-data {
    display: flex;
    flex-direction: column;
  }
}
