[data-theme="theme1"] {
  --header-background-color: red;
  --body-background-color: white;
}

[data-theme="theme2"] {
  --header-background-color: green;
  --body-background-color: gray;
}

[data-theme="theme3"] {
  --header-background-color: red;
  --body-background-color: beige;
}
